<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>UCM Airlines</title>
</head>
<body>
<div class="container">
    <div class="jumbotron jumbo-custom">
        <h2>Welcome to UCM Airlines</h2>
        <h4>Where Every Journey Takes Flight!!</h4>
    </div>
    <div class="body-box">
        <h4>Please Logins or Register to search and book flights</h4>

        <div class="row index-box">
            <div class="col-sm-6">
                <a th:href="@{/showLogin}" class="fa fa-lock fa_icon">
                    <span> Login</span>
                </a>
            </div>
            <div class="col-sm-6">
                <a th:href="@{/showReg}" class="fa fa-user-plus fa_icon">
                    <span> Register</span>
                </a>
            </div>
        </div>

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
</body>
</html>